.super-mario {
    width: 200px;padding-bottom:00px;position:"absolute";
     
  }
  
  .goomba {
    width: 100px;position:"absolute";left:20
  }
  #goba{
      left: 30px
  }
  .baloon { border-bottom:20px ;
    position:"absolute";
  }
  
  .speach {
    font-size: 25px;position:absolute; left:230px;top:230px;
    
  }
  
  .bowser {
    width: 200px;position:"absolute";
  }
  