body{
    background-color: rgb(80,180,180);
}
h1, p{
    text-align:center ;
}
li:hover{
    background-color:lightblue ;font-size:18px;
}
li:active{
    font-family: monospace;
}
ol, ul{
    list-style:none ;
}